{{extend 'layout.html'}}

<form enctype="multipart/form-data"
      action="{{=URL('save')}}" method="post">
      Sub-Theme:
      <input id="name" name="name" />
      Theme:
      <select id="theme", name="theme">
      {{ for t in themes:}}
      	<option> {{=t.name}} </option>
      {{pass}}
      </select>
      Released Year:
      <select id="year", name="year"></select>
      
      <input type="submit" />
      </form>

<script>
var start = 1900;
var end = new Date().getFullYear();
var options = "";
for(var year = end; year >=start; year--){
	if( year == end){
		options += "<option selected=\"selected\">"+ year +"</option>";
	}else{
		options += "<option>"+ year +"</option>";
	}
	}
document.getElementById("year").innerHTML = options;

	
</script>
