{{extend 'layout.html'}}

<form enctype="multipart/form-data"
      action="{{=URL('save')}}" method="post">
            Name:
	    <input id="name" name="name" />
	    Set Number:
	    <input id="set number" name="set number" />
	    Released Year:
	    <select id="year", name="year"></select>
	    <input type="submit" />
</form>

<script>
var start = 1900;
var end = new Date().getFullYear();
var options = "";
for(var year = end; year >=start; year--){
	options += "<option>"+ year +"</option>";
}
document.getElementById("year").innerHTML = options;
</script>
							              
